@charset "utf-8";

header{
position: fixed;
top: 0;
left: 0;
width: 100%;
display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#f5ef94;
    padding: 14px 40px;
    z-index: 1000; 
}



@media screen and (max-width: 768px) {
  header{
    justify-content: space-between;
    padding: 7px 20px;
    z-index: 1000;  }
}

.logo{
    height:50px;
}

.nav{
    display: flex;
}

.nav > li > a{
  color: #744b2a;;
    font-size: 25px;
    margin-left: 20px;
    text-decoration: none;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black,
  -1px 1px 0 black,  1px -1px 0 black,
  1px 0 0 black, -1px  0 0 black,
  0 1px 0 black,  0 -1px 0 black;
}

@media screen and (max-width: 768px) {
  .nav > li > a {
    font-size: 10px; }
  .logo {
    height:25px
  }
}
main{
  background-color: #f5ef94;
  /* padding-top: 80px;  */
}

.gaiyou{
    background-image: url(./images/image7.jpeg);
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #f5ef94;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black,
  -1px 1px 0 black,  1px -1px 0 black,
  1px 0 0 black, -1px  0 0 black,
  0 1px 0 black,  0 -1px 0 black;
  margin-top: 0;
}

.title{
    text-align: center;
    font-size: 50px;
    color:#744b2a;
    margin-top: 20px;
}

.explain{
    font-size: 25px;
    text-align: center;
    color: #f5ef94;
}

@media screen and (max-width: 768px) {
  .gaiyou{
    height:40vh;
    margin-top: 0;
  }
  .title{
    font-size:25px;
  }
  .explain{
    font-size: 15px;
  }
}

#gaiyou2{
    font-size: 30px;
    text-align: center;
    margin-left: 20px; 
    margin-right: 20px;
    background-color: f5ef94;
    
}

@media screen and (max-width: 768px) {
  #gaiyou2 {
    font-size: 25px;
  }
}

.gaiyou3{
  font-size: 30px;
  text-align: center;
  margin-left: 20px; 
  margin-right: 20px;
  background-color: f5ef94;
  overflow: hidden;
}

/* related linksのレスポンシブル対応中 */
/* @media screen and (max-width: 768px) {
  .gaiyou3 {
    font-size: 10px;
  }
} */
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:0 auto;
}

.slider img {
    width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
}

.slider .slick-slide {
  transform: scale(0.8);/*左右の画像のサイズを80%に*/
  transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
  transform: scale(1);/*中央の画像のサイズだけ等倍に*/
  opacity: 1;/*透過なし*/
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
  margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
  margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}


/*========= レイアウトのためのCSS ===============*/

body{
  background:#eee;
}

* {
  scroll-behavior: smooth;
}

h2,p {
    text-align:center;
    padding:20px;
    color: #f5ef94;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black,
    -1px 1px 0 black,  1px -1px 0 black,
    1px 0 0 black, -1px  0 0 black,
    0 1px 0 black,  0 -1px 0 black;
    
}


a{
  color: #333;
}

a:hover,
a:active{
  text-decoration: none;
}

.slider {
  width: 94%;
  margin: 0 auto;
}

.slider img {
  width: 60vw;
  height: auto;
}

.slider .slick-slide {
  transform: scale(0.8);
  transition: all 0.5s;
  opacity: 0.5;
}

.slider .slick-slide.slick-center {
  transform: scale(1);
  opacity: 1;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 42%;
  cursor: pointer;
  outline: none;
  border-top: 2px solid #666;
  border-right: 2px solid #666;
  height: 15px;
  width: 15px;
}

.slick-prev {
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {
  right: -1.5%;
  transform: rotate(45deg);
}

.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background: #ccc;
}

.slick-dots .slick-active button {
  background: #333;
}

body {
  background: #eee;
}

.hotSpot {
  text-align: center;
  padding: 20px;
  margin-left: 20px; 
  margin-right: 20px;
  color:#744b2a;
}

@media screen and (max-width: 768px) {
  .hotSpot{
    font-size: 20px;
  }
}


.relatedlink
{
  text-align: center;
  padding: 20px;
  margin-left: 20px; 
  margin-right: 20px;
  color:#744b2a;
}

.Copyright {
  text-align: center;
  padding: 20px;
  margin-left: 20px; 
  margin-right: 20px;
  color:#f5ef94;
}
.relatedlink{
  font-size: 50px;
}

@media screen and (max-width: 768px) {
  .relatedlink{
    font-size: 20px;
  }
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #333;
}

a:hover,
a:active {
  text-decoration: none;
}

.list-container {
  display: flex;
  justify-content: center;
}


.list[data-astro-cid-34i2mb6m] {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 80%;
  justify-content: center;
  /* grid-template-columns: 1fr 1fr; */
  /* grid-gap: min(30 / var(--bw) * 100vw,30 * var(--rate)) min(15 / var(--bw) * 100vw,15 * var(--rate)); */
  /* gap: min(30 / var(--bw) * 100vw,30 * var(--rate)) min(15 / var(--bw) * 100vw,15 * var(--rate)); */
}




.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* List item styling */
/* .list {
  flex-basis: calc(50% - 10px); /* 50% width with some space between columns */
  /* margin-bottom: 20px; /* Adjust the margin as needed */
/* } */ */ */

.list li {
  flex-basis: calc(48% - 10px); 
  margin-bottom: 20px;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .related li {
    flex-basis: 100%; 
  }
}
@media (max-width: 576px) {
  .related li {
    flex-basis: 100%; /* Full width for smaller screens */
    
  }
}


.related{
  /* margin-left: 40px; */
  background-color: f5ef94;
}

h3{
  font-size: 50px;
  color: #744b2a;
  text-align: center;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black,
  -1px 1px 0 black,  1px -1px 0 black,
  1px 0 0 black, -1px  0 0 black,
  0 1px 0 black,  0 -1px 0 black;
  margin: 10px;
  justify-content:center;
}


@media screen and (max-width: 768px) {
  .links{
    font-size: 18px;
    text-align: center;
    justify-content:center;
  }
  }

.thumbnail1{
  margin-bottom: 30px;
}

#banner{
  /* color: #dbf0ee; */
  background-color: #4b2c7c;
  padding: 10px;
  text-align: center;
  font-size: 15px;
}


@media screen and (max-width: 768px) {
  #banner{
    padding: 5px;
    text-align: center;
    font-size: 5px;
  }
}

.fs-h-0{
  font-family: Attila Sans,sans-serif;
  font-weight: 400;
  letter-spacing: -.02em;
  line-height: 1.2;
  color: #dbf0ee;

}

.map{
  height: 30px;
  width: 35px;
  flex-direction: row-reverse;
}

h1{
  margin-top: 0;
  margin-bottom: 0;
}

footer{
  text-align: center;
  background-color:#744b2a;
  color:#f5ef94;
  /* チェック */
  padding: 50px 0px 50px 0px;
  font-size: 35px;
}



@media screen and (max-width: 768px) {
  .Copyright{
    font-size: 20px;
    padding: 25px 0px 25px 0px;
  }
  .photo{
    height: 50px;
    width: 35px;
  }
}

/* .footer-right img {
  align-items:center;
  margin-right: 300px;
  float: right;
  height:150px;
} */

/* ------- */

/* .contactcolor{
  color:#f5ef94;
} */

.contactcolor{
  text-align: center;
  padding: 20px;
  margin-left: 20px; 
  margin-right: 20px;
  color:#f5ef94;
}